{% load static %}
<!-- to load static files-images and CSS -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes! List</title>
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}" />
  </head>

  <body class="recipe-body">
    <div class="recipe-container">
      <h1>Recipe List</h1>
      {% for object in object_list %}
      <div class="recipe-item">
        <a href="{{object.get_absolute_url}}"> <h2>{{ object.name }}</h2></a>
        <img src="{{object.pic.url}}" alt="{{ object.name }}" />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
