{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes! Welcome</title>
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}" />
  </head>

  <body class="welcome-body">
    <div class="welcome-container">
      <h2>Welcome to Recipes!</h2>
      <p>
        With the Recipes! app you can create, save, edit, and delete your
        favorite recipes.
      </p>
    </div>
  </body>
</html>
