<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes! Welcome</title>
  </head>
  <body
    style="
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      style="
        text-align: center;
        border: 2px solid black;
        padding: 20px;
        border-radius: 10px;
      "
    >
      <h2>Welcome to Recipes!</h2>
      <p>
        With the Recipes! app you can create, save, edit, and delete your
        favorite recipes.
      </p>
    </div>
  </body>
</html>
